@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
button, input{
	border:none;
}
h1, h2, h3, h4, h5, h6, p, a, button, input, div{
	font-family:Roboto, Arial, Helvetica, sans-serif;
}
body{
	background-color:#fffffe;
}

.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
}

/*header*/
.header{
	padding:44px 10px;
}
.header__content{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header__logo{
	display:block;
	width:101px;
}
.header__input{
	width:60%;
	max-width:690px;
	margin:0 0 0 10px;
	font-size:16px;
	line-height:24px;
	border:2px solid #ccc;
	border-radius:3px;
	padding:6px 32px;
	background-image:url('../images/bg-02.png');
	background-position:left 10px center;
	background-repeat:no-repeat;
	color:#969696;
	overflow:hidden;
}
.header__buttons{
	display:flex;
}
.button{
	display:flex;
	align-items:center;
	padding:10px 16px;
	margin-left:9px;
	border-radius:3px;
	transition:all 0.2s ease-in;
}
.button:hover{
	cursor:pointer;
}
.enter{
	background-color:#1890ff;
	border:2px solid #1890ff;
	color:#fffffe;
}
.enter:hover{
	background-color:#0376df;
	border:2px solid #0376df;
}
.bag{
	background-color:#fffffe;
	color:#595959;
	border:2px solid #ccc;
}
.bag:hover{
	background-color:#eee;
}
.button img{
	display:block;
	padding:0 2px 0 0;
}


/*main*/
.main{
	
	background:linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}
section{
	width:100%;
	padding:0 10px;
}
/*section intro*/
.intro .container{
	background-color:#fff1b8;
	padding:68px 71px;
	border-radius:10px;
	overflow:hidden;
	box-shadow:0 7px 12px rgba(158, 158, 163, 0.1);
	background-image:url('../images/bg-01.png');
	background-repeat:no-repeat;
	background-position:right -30px bottom;
	background-size:auto 100%;
}
.intro__content{
	width:100%;
	max-width:538px;
}
.intro__title{
	color:#302c34;
	font-weight:700;
	font-size:39px;
	padding:0 0 15px;
}
.intro__text{
	font-size:24px;
	color:#302c34;
}
/*section restaurants*/
.restaurants__content{
	padding:45px 0;
}
.restaurants__heading{
	display:flex;
	align-items:center;
}
.restaurants__title{
	font-size:36px;
}
.restaurants__search{
	width:306px;
	margin-left:auto;
	font-size:16px;
	line-height:24px;
	border:1px solid #ccc;
	border-radius:3px;
	padding:5px 32px;
	background-image:url('../images/bg-03.png');
	background-position:left 10px center;
	background-repeat:no-repeat;
	color:#969696;
	overflow:hidden;
}
/*cards*/
.cards__content{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
	padding:0 0 90px;
}
.card{
	flex-basis:32%;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
	margin:0 0 30px;
	border-radius:7px;
	overflow:hidden;
}
.card__image{
	display:block;
	width:100%;
}
.card__heading{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:0 0 10px;
}
.card__info{
	background-color:#fffffe;
	padding:21px 24px 34px;
}
.card__title{
	font-size:24px;
}
.card__time{
	padding:3px 5px;
	background-color:#000001;
	color:#fff;
	border-radius:5px;
}
.card__rate{
	display:flex;
	align-items:center;
}
.card__star{
	margin:0 11px 0 0;
}
.card__price{
	margin:0 11px 0 0;
}
.card__price p:after{
	content:'';
	width:5px;
	height:5px;
	border-radius:50%;
	background-color:#000001;
	margin:0 0 0 6px;
	display:inline-block;
	vertical-align:middle;
}
/*footer*/
.footer{
	padding:60px 10px;
}
.footer__content{
	display:flex;
	align-items:center;
}
.footer__logo{
	display:block;
}
.footer__menu{
	margin-left:35px;
	margin-right:20px;
}
.footer__list{
	list-style:none;
	display:flex;
	flex-wrap:wrap;
}
.footer__item{
	margin-right:15px;
}
.footer__item:last-child{
	margin-right:0;
}
.footer__link{
	text-decoration:none;
	font-size:18px;
	line-height:24px;
	color:#595959;
}
.footer__link:hover{
	text-decoration:underline;
}
.footer__social{
	margin-left:auto;
	display:flex;
	align-items:center;
}
.footer__icon{
	display:block;
}
.footer__social a{
	margin-right:21px;
	transition:all 0.2s ease-in;
}
.footer__social a:last-child{
	margin-right:0;
}
.footer__social a:hover{
	opacity:0.8;
}

/*Restaurants page*/
.restaurants__rate{
	display:flex;
	align-items:center;
	margin-top:7px;
	margin-left:30px;
}
.restaurants__star{
	margin:0 26px 0 0;
}
.restaurants__price{
	margin:0 25px 0 0;
}
.restaurants__price p:after{
	content:'';
	width:5px;
	height:5px;
	border-radius:50%;
	background-color:#000001;
	margin:0 0 0 17px;
	display:inline-block;
	vertical-align:middle;
}



@media screen and (max-width:1023px) {
	.intro .container{
		padding:40px 50px;
	}
	.intro__content{
		max-width:400px;
	}
	.intro__title{
		font-size:32px;
	}
	.intro__text{
		font-size:19px;
	}
	/*cards*/
	.card__info{
		padding:15px 10px 25px;
	}
	.card__title{
		font-size:20px;
	}
	.card__star{
		margin-right:8px;
	}
	.card__price{
		margin-right:8px;
	}
	/*footer*/
	.footer__menu{
		margin-left:20px;
	}
	.footer__social a{
		margin-right:15px;
	}
}
@media screen and (max-width:768px) {
	.intro .container{
		padding:30px;
		background-size:contain;
		background-position:right -50px bottom;
	}
	.intro__content{
		max-width:300px;
	}
	.intro__title{
		font-size:27px;
	}
	.intro__text{
		font-size:16px;
	}
	/*cards*/
	.cards__content{
		padding-bottom:40px;
	}
	.card{
		flex-basis:48%;
	}
	.card__title{
		font-size:18px;
	}
	/*footer*/
	.footer{
		padding:40px 0;
	}
}
@media screen and (max-width:720px) {
	.header{
		padding:25px 0;
	}
	.container{
		width:95%;
		padding:0;
	}
	.header__content{
		flex-wrap:wrap;
	}
	.header__input{
		order:2;
		width:100%;
		margin:10px 0 0;
	}
	/* section intro*/
	section{
		padding:0;
	}
}
@media screen and (max-width:599px) {
	/*section intro*/
	.intro .container{
		padding:30px;
		background-image:none;
	}
	.intro__content{
		max-width:320px;
		margin:0 auto;
	}
	.intro__title{
		text-align:center;
		font-size:27px;
	}
	.intro__text{
		text-align:center;
		font-size:16px;
	}
	/*section restaurants*/
	.restaurants__heading{
		display:block;
	}
	.restaurants__content{
		padding:25px 0;
	}
	.restaurants__title{
		padding:0 0 15px;
	}
	.restaurants__search{
		width:100%;
	}
	/*cards*/
	.card{
		margin-bottom:25px;
	}
	.card__heading{
		flex-direction:column-reverse;
		margin-bottom:5px;
	}
	.card__title{
		margin-right:auto;
	}
	.card__time{
		margin:0 0 5px;
		margin-right:auto;
	}
	.card__rate{
		flex-wrap:wrap;
	}
	.card__star{
		flex-basis:100%;
		margin:0 0 5px;
	}
	/*footer*/
	.footer__content{
		display:block;
	}
	.footer__menu{
		margin:20px 0;
	}
	.footer__link{
		font-size:16px;
	}
	.footer__item{
		margin-right:10px;
	}
	/*restaurants page*/
	.restaurants__rate{
		margin-top:0;
		margin-left:0;
	}
	.restaurants__star{
		margin-right:11px;
	}
	.restaurants__price{
		margin-right:11px;
	}
	.restaurants__price p:after{
		margin-right:6px;
	}
}
@media screen and (max-width:375px) {
	.header__logo{
		margin:0 5px 0 0;
	}
	.button{
		padding-left:15px;
		padding-right:15px;
		margin-left:5px;
	}
	.button img{
		display:none;
	}
	/*section intro*/
	.intro .container{
		padding:25px 20px;
	}
	.intro__title{
		text-align:center;
		font-size:25px;
	}
	.intro__text{
		text-align:center;
		font-size:15px;
	}
	/*cards*/
	.card{
		flex-basis:100%;
	}
}